@import '../../styles/variables.scss';

.co-alert {
  width: 100%;
  padding: 8px 16px;
  margin: 0;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  opacity: 1;
  display: flex;
  align-items: center;
  transition: opacity 0.2s;


  // type
  &--default {
    background: $default-bg-color;
    color: $default-color;
    border-color: $border-color;
  }

  &--primary {
    background: $primary-bg-color;
    color: $primary-color;
    border-color: $border-color;
  }

  &--success {
    background: $success-bg-color;
    color: $success-color;
    border-color: $border-color;
  }

  &--warning {
    background: $warning-bg-color;
    color: $warning-color;
    border-color: $border-color;
  }

  &--danger {
    background: $danger-bg-color;
    color: $danger-color;
    border-color: $border-color;
  }

  .co-alert__icon {
    color: $danger-color;
    font-size: 14px;

    &--default {
      color: $default-color;
    }

    &--primary {
      color: $primary-color;
    }

    &--success {
      color: $success-color;
    }

    &--warning {
      color: $warning-color;
    }

    &--danger {
      color: $danger-color;
    }
  }

  .co-alert__content {
    display: flex;
    flex-direction: column;
    padding: 0 8px;

  }

  .co-alert__title {
    font-size: $font-size-lg;
    line-height: 16px;

    .is-bold {
      font-weight: bold;
    }
  }

  .co-alert__description {
    font-size: $font-size-sm;
    margin: 5px 0 0 0;
  }

  .co-alert__closebtn {
    font-size: $font-size-sm;
    opacity: 1;
    position: absolute;
    top: 12px;
    right: 15px;
    cursor: pointer;
  }
}

.co-alert-fade-enter-active,
.co-alert-fade-leave-active {
  opacity: 0;
}

.is-center {
  justify-content: center;
}

.is-big {
  font-size: 16px;

}
