// color
$primary-color: #b088f9;
$danger-color: #ff7171;
$success-color: #45cd80;
$warning-color: #f0a500;
$default-color: #9d9d9d;
$border-color: #d7d7d7;

//
$font-size-base: 14px;
$font-size-lg: 16px;
$font-size-sm: 12px;
$line-height-base: 1;
$border-radius-base: 4px;
$border-radius-sm: 2px;
$font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial,
  sans-serif;
$text-color: #666;
$disabled-opacity: 0.68;

//
$default-height: 32px;
$lg-height: 36px;
$sm-height: 28px;
