.c-button {
  padding: 4px 8px;
  font-size: 14px;
  border-radius: 3px;
  border: none;
  outline: none;
}
.c-button-primary {
  background: purple;
  color: #fff;
}
.c-button-success {
  background: green;
  color: #fff;
}
.c-button-info {
  background: gray;
  color: #fff;
}
.c-button-warning {
  background: orange;
  color: #fff;
}
.c-button-danger {
  background: tomato;
  color: #fff;
}
.c-button-large {
  padding: 8px 16px;
  font-size: 16px;
}
.c-button-small {
  padding: 2px 4px;
  font-size: 12px;
}
