* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body,
html {
  height: 100%;
}
body {
  background: #fafafa;
}
#app {
  height: 100%;
}
.comp-nav {
  margin-bottom: 10px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  background: #ffff;
  -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
  padding: 0 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.link-item {
  color: #838383;
  display: inline-block;
  padding: 0 10px;
}
.link-item:hover {
  background: orange;
  color: #fff;
}
.page-container {
  padding: 70px 20px 20px;
}
.comp-content {
  width: 1000px;
  background: #fff;
  margin: 0 auto;
  padding: 20px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  display: flow-root;
}@charset "UTF-8";
.co-button {
  padding: 8px 15px;
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #9d9d9d;
  background: #fff;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  line-height: 1;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  cursor: pointer;
  height: 32px;
  position: relative;
  overflow: hidden;
}
.co-button i {
  font-size: 14px;
}
.co-button i + * {
  margin-left: 4px;
}
.co-button::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: #000;
  border: inherit;
  border-color: #000;
  border-radius: inherit;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  content: " ";
}
.co-button:active::before {
  opacity: 0.1;
}
.co-button--primary {
  background: #b088f9;
  color: #fff;
  border-color: transparent;
}
.co-button--success {
  background: #45cd80;
  color: #fff;
  border-color: transparent;
}
.co-button--warning {
  background: #f0a500;
  color: #fff;
  border-color: transparent;
}
.co-button--danger {
  background: #ff7171;
  color: #fff;
  border-color: transparent;
}
.co-button--large {
  padding: 9px 20px;
  font-size: 16px;
  height: 36px;
}
.co-button--large i {
  font-size: 16px;
}
.co-button--small {
  padding: 7px 10px;
  font-size: 12px;
  height: 28px;
}
.co-button--small i {
  font-size: 12px;
}
.co-button--disabled {
  cursor: not-allowed;
  opacity: 0.68;
}
.co-button--disabled::before {
  display: none;
}
.co-button .co-ripple {
  position: absolute;
  width: 200px;
  height: 200px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-transition: 500ms all;
  transition: 500ms all;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
}
.co-row::before,
.co-row::after {
  display: table;
  content: "";
}
.co-row::after {
  clear: both;
}
.co-row--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.co-row--justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.co-row--justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.co-row--justify-space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.co-row--justify-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.co-row--align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.co-row--align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.co-col {
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.co-col-0 {
  display: none;
}
.co-col-0 {
  width: 0%;
}
.co-col-offset-0 {
  margin-left: 0%;
}
.co-col-pull-0 {
  position: relative;
  right: 0%;
}
.co-col-push-0 {
  position: relative;
  left: 0%;
}
.co-col-1 {
  width: 4.1666666667%;
}
.co-col-offset-1 {
  margin-left: 4.1666666667%;
}
.co-col-pull-1 {
  position: relative;
  right: 4.1666666667%;
}
.co-col-push-1 {
  position: relative;
  left: 4.1666666667%;
}
.co-col-2 {
  width: 8.3333333333%;
}
.co-col-offset-2 {
  margin-left: 8.3333333333%;
}
.co-col-pull-2 {
  position: relative;
  right: 8.3333333333%;
}
.co-col-push-2 {
  position: relative;
  left: 8.3333333333%;
}
.co-col-3 {
  width: 12.5%;
}
.co-col-offset-3 {
  margin-left: 12.5%;
}
.co-col-pull-3 {
  position: relative;
  right: 12.5%;
}
.co-col-push-3 {
  position: relative;
  left: 12.5%;
}
.co-col-4 {
  width: 16.6666666667%;
}
.co-col-offset-4 {
  margin-left: 16.6666666667%;
}
.co-col-pull-4 {
  position: relative;
  right: 16.6666666667%;
}
.co-col-push-4 {
  position: relative;
  left: 16.6666666667%;
}
.co-col-5 {
  width: 20.8333333333%;
}
.co-col-offset-5 {
  margin-left: 20.8333333333%;
}
.co-col-pull-5 {
  position: relative;
  right: 20.8333333333%;
}
.co-col-push-5 {
  position: relative;
  left: 20.8333333333%;
}
.co-col-6 {
  width: 25%;
}
.co-col-offset-6 {
  margin-left: 25%;
}
.co-col-pull-6 {
  position: relative;
  right: 25%;
}
.co-col-push-6 {
  position: relative;
  left: 25%;
}
.co-col-7 {
  width: 29.1666666667%;
}
.co-col-offset-7 {
  margin-left: 29.1666666667%;
}
.co-col-pull-7 {
  position: relative;
  right: 29.1666666667%;
}
.co-col-push-7 {
  position: relative;
  left: 29.1666666667%;
}
.co-col-8 {
  width: 33.3333333333%;
}
.co-col-offset-8 {
  margin-left: 33.3333333333%;
}
.co-col-pull-8 {
  position: relative;
  right: 33.3333333333%;
}
.co-col-push-8 {
  position: relative;
  left: 33.3333333333%;
}
.co-col-9 {
  width: 37.5%;
}
.co-col-offset-9 {
  margin-left: 37.5%;
}
.co-col-pull-9 {
  position: relative;
  right: 37.5%;
}
.co-col-push-9 {
  position: relative;
  left: 37.5%;
}
.co-col-10 {
  width: 41.6666666667%;
}
.co-col-offset-10 {
  margin-left: 41.6666666667%;
}
.co-col-pull-10 {
  position: relative;
  right: 41.6666666667%;
}
.co-col-push-10 {
  position: relative;
  left: 41.6666666667%;
}
.co-col-11 {
  width: 45.8333333333%;
}
.co-col-offset-11 {
  margin-left: 45.8333333333%;
}
.co-col-pull-11 {
  position: relative;
  right: 45.8333333333%;
}
.co-col-push-11 {
  position: relative;
  left: 45.8333333333%;
}
.co-col-12 {
  width: 50%;
}
.co-col-offset-12 {
  margin-left: 50%;
}
.co-col-pull-12 {
  position: relative;
  right: 50%;
}
.co-col-push-12 {
  position: relative;
  left: 50%;
}
.co-col-13 {
  width: 54.1666666667%;
}
.co-col-offset-13 {
  margin-left: 54.1666666667%;
}
.co-col-pull-13 {
  position: relative;
  right: 54.1666666667%;
}
.co-col-push-13 {
  position: relative;
  left: 54.1666666667%;
}
.co-col-14 {
  width: 58.3333333333%;
}
.co-col-offset-14 {
  margin-left: 58.3333333333%;
}
.co-col-pull-14 {
  position: relative;
  right: 58.3333333333%;
}
.co-col-push-14 {
  position: relative;
  left: 58.3333333333%;
}
.co-col-15 {
  width: 62.5%;
}
.co-col-offset-15 {
  margin-left: 62.5%;
}
.co-col-pull-15 {
  position: relative;
  right: 62.5%;
}
.co-col-push-15 {
  position: relative;
  left: 62.5%;
}
.co-col-16 {
  width: 66.6666666667%;
}
.co-col-offset-16 {
  margin-left: 66.6666666667%;
}
.co-col-pull-16 {
  position: relative;
  right: 66.6666666667%;
}
.co-col-push-16 {
  position: relative;
  left: 66.6666666667%;
}
.co-col-17 {
  width: 70.8333333333%;
}
.co-col-offset-17 {
  margin-left: 70.8333333333%;
}
.co-col-pull-17 {
  position: relative;
  right: 70.8333333333%;
}
.co-col-push-17 {
  position: relative;
  left: 70.8333333333%;
}
.co-col-18 {
  width: 75%;
}
.co-col-offset-18 {
  margin-left: 75%;
}
.co-col-pull-18 {
  position: relative;
  right: 75%;
}
.co-col-push-18 {
  position: relative;
  left: 75%;
}
.co-col-19 {
  width: 79.1666666667%;
}
.co-col-offset-19 {
  margin-left: 79.1666666667%;
}
.co-col-pull-19 {
  position: relative;
  right: 79.1666666667%;
}
.co-col-push-19 {
  position: relative;
  left: 79.1666666667%;
}
.co-col-20 {
  width: 83.3333333333%;
}
.co-col-offset-20 {
  margin-left: 83.3333333333%;
}
.co-col-pull-20 {
  position: relative;
  right: 83.3333333333%;
}
.co-col-push-20 {
  position: relative;
  left: 83.3333333333%;
}
.co-col-21 {
  width: 87.5%;
}
.co-col-offset-21 {
  margin-left: 87.5%;
}
.co-col-pull-21 {
  position: relative;
  right: 87.5%;
}
.co-col-push-21 {
  position: relative;
  left: 87.5%;
}
.co-col-22 {
  width: 91.6666666667%;
}
.co-col-offset-22 {
  margin-left: 91.6666666667%;
}
.co-col-pull-22 {
  position: relative;
  right: 91.6666666667%;
}
.co-col-push-22 {
  position: relative;
  left: 91.6666666667%;
}
.co-col-23 {
  width: 95.8333333333%;
}
.co-col-offset-23 {
  margin-left: 95.8333333333%;
}
.co-col-pull-23 {
  position: relative;
  right: 95.8333333333%;
}
.co-col-push-23 {
  position: relative;
  left: 95.8333333333%;
}
.co-col-24 {
  width: 100%;
}
.co-col-offset-24 {
  margin-left: 100%;
}
.co-col-pull-24 {
  position: relative;
  right: 100%;
}
.co-col-push-24 {
  position: relative;
  left: 100%;
}
@font-face {
  font-family: "cookie-iconfont";
  /* Project id 2942010 */
  src: url("/cookie-vue-ui/assets/iconfont.6bd2fe56.woff2") format("woff2"), url("/cookie-vue-ui/assets/iconfont.081a186d.woff") format("woff"), url("/cookie-vue-ui/assets/iconfont.3939b253.ttf") format("truetype");
}
[class^=co-icon-],
[class*=" co-icon-"] {
  font-family: "cookie-iconfont" !important;
  font-size: 16px;
  font-style: normal;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.co-icon-xuanzhuan:before {
  content: "\e86b";
}
.co-icon-xiaoxi1:before {
  content: "\e86c";
}
.co-icon-yinle:before {
  content: "\e86d";
}
.co-icon-yonghu:before {
  content: "\e86e";
}
.co-icon-xinwenjian:before {
  content: "\e86f";
}
.co-icon-yinhang:before {
  content: "\e870";
}
.co-icon-xinwen:before {
  content: "\e871";
}
.co-icon-xiangqian:before {
  content: "\e872";
}
.co-icon-xiayiye:before {
  content: "\e873";
}
.co-icon-yunshangchuan:before {
  content: "\e874";
}
.co-icon-youjian:before {
  content: "\e875";
}
.co-icon-xiangxia:before {
  content: "\e876";
}
.co-icon-tubiao-jiangxu:before {
  content: "\e877";
}
.co-icon-yuyan:before {
  content: "\e878";
}
.co-icon-zanting:before {
  content: "\e879";
}
.co-icon-zhinan:before {
  content: "\e87a";
}
.co-icon-zan:before {
  content: "\e87b";
}
.co-icon-USB:before {
  content: "\e87c";
}
.co-icon-youxiang:before {
  content: "\e87d";
}
.co-icon-zhuye:before {
  content: "\e87e";
}
.co-icon-zhuyi:before {
  content: "\e87f";
}
.co-icon-SDka:before {
  content: "\e880";
}
.co-icon-yibiaopan:before {
  content: "\e881";
}
.co-icon-yunpan:before {
  content: "\e882";
}
.co-icon-zhiwen:before {
  content: "\e883";
}
.co-icon-niantie:before {
  content: "\e884";
}
.co-icon-zhongfu:before {
  content: "\e885";
}
.co-icon-yunxiazai:before {
  content: "\e886";
}
.co-icon-bi:before {
  content: "\e7c5";
}
.co-icon-baocun:before {
  content: "\e7c6";
}
.co-icon-bijiben:before {
  content: "\e7c7";
}
.co-icon-baohu:before {
  content: "\e7c8";
}
.co-icon-biaojidian:before {
  content: "\e7c9";
}
.co-icon-biaoji:before {
  content: "\e7ca";
}
.co-icon-bingtu:before {
  content: "\e7cb";
}
.co-icon-caidan:before {
  content: "\e7cc";
}
.co-icon-bofang:before {
  content: "\e7cd";
}
.co-icon-cangku:before {
  content: "\e7ce";
}
.co-icon-chaxun:before {
  content: "\e7cf";
}
.co-icon-cai:before {
  content: "\e7d0";
}
.co-icon-chehui:before {
  content: "\e7d1";
}
.co-icon-daima:before {
  content: "\e7d2";
}
.co-icon-cengji:before {
  content: "\e7d3";
}
.co-icon-bingtu1:before {
  content: "\e7d4";
}
.co-icon-chuwuxiang:before {
  content: "\e7d5";
}
.co-icon-bianji:before {
  content: "\e7d6";
}
.co-icon-bukekan:before {
  content: "\e7d7";
}
.co-icon-daohangbiao:before {
  content: "\e7d8";
}
.co-icon-biaoqian:before {
  content: "\e7d9";
}
.co-icon-denglu:before {
  content: "\e7da";
}
.co-icon-che:before {
  content: "\e7db";
}
.co-icon-daoru:before {
  content: "\e7dc";
}
.co-icon-dui:before {
  content: "\e7dd";
}
.co-icon-dangqiandingwei:before {
  content: "\e7de";
}
.co-icon-tiaozheng:before {
  content: "\e7df";
}
.co-icon-ditugeshi:before {
  content: "\e7e0";
}
.co-icon-dengchu:before {
  content: "\e7e1";
}
.co-icon-dingweiguan:before {
  content: "\e7e2";
}
.co-icon-fajianxiang:before {
  content: "\e7e3";
}
.co-icon-fenxiang:before {
  content: "\e7e4";
}
.co-icon-gengduo1:before {
  content: "\e7e5";
}
.co-icon-gengduo:before {
  content: "\e7e6";
}
.co-icon-chuliqi:before {
  content: "\e7e7";
}
.co-icon-diannao:before {
  content: "\e7e8";
}
.co-icon-fenlei:before {
  content: "\e7e9";
}
.co-icon-dengji:before {
  content: "\e7ea";
}
.co-icon-dingwei:before {
  content: "\e7eb";
}
.co-icon-ditu:before {
  content: "\e7ec";
}
.co-icon-fujian:before {
  content: "\e7ed";
}
.co-icon-guan:before {
  content: "\e7ee";
}
.co-icon-fangda:before {
  content: "\e7ef";
}
.co-icon-gouwubao:before {
  content: "\e7f0";
}
.co-icon-guangbiao:before {
  content: "\e7f1";
}
.co-icon-gangbi:before {
  content: "\e7f2";
}
.co-icon-fanghusan:before {
  content: "\e7f3";
}
.co-icon-gouwuche:before {
  content: "\e7f4";
}
.co-icon-guanji:before {
  content: "\e7f5";
}
.co-icon-cundang:before {
  content: "\e7f6";
}
.co-icon-dianhua:before {
  content: "\e7f7";
}
.co-icon-jia:before {
  content: "\e7f8";
}
.co-icon-guangbo:before {
  content: "\e7f9";
}
.co-icon-jiantieban:before {
  content: "\e7fa";
}
.co-icon-jiangxu:before {
  content: "\e7fb";
}
.co-icon-hudun:before {
  content: "\e7fc";
}
.co-icon-huifu:before {
  content: "\e7fd";
}
.co-icon-heianmoshi:before {
  content: "\e7fe";
}
.co-icon-guanbi1:before {
  content: "\e7ff";
}
.co-icon-jinzhi:before {
  content: "\e800";
}
.co-icon-jihuabiao:before {
  content: "\e801";
}
.co-icon-feiji:before {
  content: "\e802";
}
.co-icon-liwu:before {
  content: "\e803";
}
.co-icon-kai:before {
  content: "\e804";
}
.co-icon-lianluo:before {
  content: "\e805";
}
.co-icon-fangxiang:before {
  content: "\e806";
}
.co-icon-jiancai:before {
  content: "\e807";
}
.co-icon-lanzi:before {
  content: "\e808";
}
.co-icon-jian:before {
  content: "\e809";
}
.co-icon-guanbi:before {
  content: "\e80a";
}
.co-icon-lingsheng:before {
  content: "\e80b";
}
.co-icon-jisuanqi:before {
  content: "\e80c";
}
.co-icon-lianjie:before {
  content: "\e80d";
}
.co-icon-jianqie:before {
  content: "\e80e";
}
.co-icon-fanhui:before {
  content: "\e80f";
}
.co-icon-jiaohuan:before {
  content: "\e810";
}
.co-icon-gengxin:before {
  content: "\e811";
}
.co-icon-fuzhi:before {
  content: "\e812";
}
.co-icon-quanping:before {
  content: "\e813";
}
.co-icon-rili:before {
  content: "\e814";
}
.co-icon-lajitong:before {
  content: "\e815";
}
.co-icon-shangdian:before {
  content: "\e816";
}
.co-icon-ka:before {
  content: "\e817";
}
.co-icon-lishi:before {
  content: "\e818";
}
.co-icon-kaisuo:before {
  content: "\e819";
}
.co-icon-liebiao:before {
  content: "\e81a";
}
.co-icon-lianxu:before {
  content: "\e81b";
}
.co-icon-jiangbei:before {
  content: "\e81c";
}
.co-icon-liaotian:before {
  content: "\e81d";
}
.co-icon-paixu:before {
  content: "\e81e";
}
.co-icon-shangzhang:before {
  content: "\e81f";
}
.co-icon-jifen:before {
  content: "\e820";
}
.co-icon-shangwubao:before {
  content: "\e821";
}
.co-icon-shalou:before {
  content: "\e822";
}
.co-icon-shijian:before {
  content: "\e823";
}
.co-icon-shizhong:before {
  content: "\e824";
}
.co-icon-shangchuan:before {
  content: "\e825";
}
.co-icon-saoyisao:before {
  content: "\e826";
}
.co-icon-queren:before {
  content: "\e827";
}
.co-icon-queding:before {
  content: "\e828";
}
.co-icon-shengxu:before {
  content: "\e829";
}
.co-icon-shengyin:before {
  content: "\e82a";
}
.co-icon-shezhi:before {
  content: "\e82b";
}
.co-icon-liangdu:before {
  content: "\e82c";
}
.co-icon-shangyiye:before {
  content: "\e82d";
}
.co-icon-kekan:before {
  content: "\e82e";
}
.co-icon-shoujianxiang:before {
  content: "\e82f";
}
.co-icon-maikefeng:before {
  content: "\e830";
}
.co-icon-shengyinjian:before {
  content: "\e831";
}
.co-icon-shengji:before {
  content: "\e832";
}
.co-icon-shuqianshoucang:before {
  content: "\e833";
}
.co-icon-suoxiao:before {
  content: "\e834";
}
.co-icon-shoushi:before {
  content: "\e835";
}
.co-icon-kabao:before {
  content: "\e836";
}
.co-icon-shubiao:before {
  content: "\e837";
}
.co-icon-qingchu:before {
  content: "\e838";
}
.co-icon-taolun:before {
  content: "\e839";
}
.co-icon-quan:before {
  content: "\e83a";
}
.co-icon-suoding:before {
  content: "\e83b";
}
.co-icon-tianjia:before {
  content: "\e83c";
}
.co-icon-suoxiao1:before {
  content: "\e83d";
}
.co-icon-shexiang:before {
  content: "\e83e";
}
.co-icon-shuqian:before {
  content: "\e83f";
}
.co-icon-shoucang:before {
  content: "\e840";
}
.co-icon-shengyinjia:before {
  content: "\e841";
}
.co-icon-shipin:before {
  content: "\e842";
}
.co-icon-shui:before {
  content: "\e843";
}
.co-icon-suo:before {
  content: "\e844";
}
.co-icon-tongzhi:before {
  content: "\e845";
}
.co-icon-shu:before {
  content: "\e846";
}
.co-icon-tianjiayonghu:before {
  content: "\e847";
}
.co-icon-tubiao-shengxu:before {
  content: "\e848";
}
.co-icon-tuihui:before {
  content: "\e849";
}
.co-icon-tuandui:before {
  content: "\e84a";
}
.co-icon-wendangliebiao:before {
  content: "\e84b";
}
.co-icon-tongbu:before {
  content: "\e84c";
}
.co-icon-wangye:before {
  content: "\e84d";
}
.co-icon-tupian:before {
  content: "\e84e";
}
.co-icon-weixin:before {
  content: "\e84f";
}
.co-icon-wenjianjia:before {
  content: "\e850";
}
.co-icon-weiduxiaoxi:before {
  content: "\e851";
}
.co-icon-xihuan:before {
  content: "\e852";
}
.co-icon-tuichuquanping:before {
  content: "\e853";
}
.co-icon-wendu:before {
  content: "\e854";
}
.co-icon-shuzhuangtu:before {
  content: "\e855";
}
.co-icon-tianjiajihuabiao:before {
  content: "\e856";
}
.co-icon-tuceng:before {
  content: "\e857";
}
.co-icon-daochu:before {
  content: "\e858";
}
.co-icon-tubiao-xia:before {
  content: "\e859";
}
.co-icon-xianjin:before {
  content: "\e85a";
}
.co-icon-xiadie:before {
  content: "\e85b";
}
.co-icon-xiangji:before {
  content: "\e85c";
}
.co-icon-wenjian:before {
  content: "\e85d";
}
.co-icon-tubiao-shang:before {
  content: "\e85e";
}
.co-icon-weixiu:before {
  content: "\e85f";
}
.co-icon-xiazai:before {
  content: "\e860";
}
.co-icon-xiangshang1:before {
  content: "\e861";
}
.co-icon-xiangshang:before {
  content: "\e862";
}
.co-icon-xiangyou1:before {
  content: "\e863";
}
.co-icon-xiangxia1:before {
  content: "\e864";
}
.co-icon-xiaoxi2:before {
  content: "\e865";
}
.co-icon-xiangyou:before {
  content: "\e866";
}
.co-icon-xiangzuo1:before {
  content: "\e867";
}
.co-icon-xiangfa:before {
  content: "\e868";
}
.co-icon-xiaoxi:before {
  content: "\e869";
}
.co-icon-wangyuanjing:before {
  content: "\e86a";
}
.co-icon-loading:before {
  content: "\e756";
}
.co-icon-loading {
  -webkit-animation: rotating 2s linear infinite;
          animation: rotating 2s linear infinite;
}
@-webkit-keyframes rotating {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
@keyframes rotating {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
.co-alert {
  width: 100%;
  padding: 8px 16px;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.co-alert--default {
  background: rgba(157, 157, 157, 0.4);
  color: #9d9d9d;
  border-color: #d7d7d7;
}
.co-alert--primary {
  background: rgba(176, 136, 249, 0.4);
  color: #b088f9;
  border-color: #d7d7d7;
}
.co-alert--success {
  background: rgba(69, 205, 128, 0.4);
  color: #45cd80;
  border-color: #d7d7d7;
}
.co-alert--warning {
  background: rgba(240, 165, 0, 0.4);
  color: #f0a500;
  border-color: #d7d7d7;
}
.co-alert--danger {
  background: rgba(255, 113, 113, 0.4);
  color: #ff7171;
  border-color: #d7d7d7;
}
.co-alert .co-alert__icon {
  color: #ff7171;
  font-size: 14px;
}
.co-alert .co-alert__icon--default {
  color: #9d9d9d;
}
.co-alert .co-alert__icon--primary {
  color: #b088f9;
}
.co-alert .co-alert__icon--success {
  color: #45cd80;
}
.co-alert .co-alert__icon--warning {
  color: #f0a500;
}
.co-alert .co-alert__icon--danger {
  color: #ff7171;
}
.co-alert .co-alert__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 8px;
}
.co-alert .co-alert__title {
  font-size: 16px;
  line-height: 16px;
}
.co-alert .co-alert__title .is-bold {
  font-weight: bold;
}
.co-alert .co-alert__description {
  font-size: 12px;
  margin: 5px 0 0 0;
}
.co-alert .co-alert__closebtn {
  font-size: 12px;
  opacity: 1;
  position: absolute;
  top: 12px;
  right: 15px;
  cursor: pointer;
}
.co-alert-fade-enter-active,
.co-alert-fade-leave-active {
  opacity: 0;
}
.is-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.is-big {
  font-size: 16px;
}
.co-avatar {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  overflow: hidden;
  color: #fff;
  font-size: 14px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}
.co-avatar--large {
  height: 50px;
  width: 50px;
  line-height: 50px;
}
.co-avatar--small {
  height: 36px;
  width: 36px;
  line-height: 36px;
}
.co-avatar--circle {
  border-radius: 50%;
}