.dib-box[data-v-61fff69a] {
  border: 1px solid #d7d7d7;
  border-width: 1px 0 0 1px;
}
.dib[data-v-61fff69a] {
  display: inline-block;
  width: 159px;
  border: 1px solid #d7d7d7;
  height: 120px;
  text-align: center;
  vertical-align: top;
  font-size: 12px;
  border-width: 0 1px 1px 0;
  color: #7a7a7a;
}
.dib[data-v-61fff69a]:hover {
  color: #b088f9;
}
[class^=co-icon-][data-v-61fff69a],
[class*=" co-icon-"][data-v-61fff69a] {
  font-size: 14px;
  font-size: 36px;
  line-height: 80px;
}