@import '../../styles/variables.scss';

.co-avatar {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
  color: #fff;
  background: hsl(220, 11%, 78%);
  font-size: 14px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  // size
  &--large {
    height: 50px;
    width: 50px;
    line-height: 50px;
  }
  &--small {
    height: 36px;
    width: 36px;
    line-height: 36px;
  }
}